<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status-review</title>
        {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav2.css' %}">
    <script src="{% static 'statusReview.js' %}"></script>
    </head>

    <body>
        <div id="wrap">
            <div id="nav">
                <li><a href="{% url 'signout' %}" style="color: #FABEBE;">LOGOUT</a></li>
                <li><a href="{% url 'profile' %}">PROFILE</a></li>
                <li><a href="{% url 'statusReview' %}">STATUS REVIEW</a></li>
            </div>  

        <div id="pagename">ADMIN</div>

        

    </body>
</html>