#nav{
    margin-left: none;
    background-color: none;
    height: 50px;
    padding-bottom: 0px;
    align-content: left;
    padding-right: 0px;
    width: 100%;
    align-items: center;
    align-self: center;
    background-color:rgba(250, 250, 250, 0.8);
    margin-bottom: 20px;
}

#nav > li {
    text-decoration-line: none;
    text-decoration-color: none;
    list-style: none;
    align-content: center;
    margin-right: 50px;
    margin-top: 10px;
    background-color: none;
    font-size: 30px;
    font-weight: 600;
    float: right;

}


#nav > li > a{
    text-decoration-line: none;
    text-decoration-color: none;
    color: rgba(50, 50, 50, 0.7);
    list-style: none;
}


#pagename{
    margin-bottom: 30px;
    text-align: left;
    margin-left: 5%;
    font-weight: 750;
    font-size: 60px;
    color: black;
    margin-bottom: none;
}